.carousel-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: center;
  justify-content: center;
  width: 220px;
  overflow: hidden;
  margin-bottom: 2rem;
  position: relative;
}

#carousel {
  display: flex;
  transition: transform 0.5s ease;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 220px;
}

.elementcarousel {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  opacity: 0.5;
  transition: opacity 0.3s;
  margin-top: 2rem;
  font-family: Arial, sans-serif;
  min-width: 220px;
  max-width: 220px;
}

.elementcarousel.active {
  opacity: 1;
}

#prevBtn,
#nextBtn {
  background: #222;
  color: #fff;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  margin: 0 1rem;
}

.img {
  display: flex;
  justify-content: center;
  align-self: start;
}

img {
  width: 210px;
  height: 315px;
}

#lesboutons {
  display: flex;
  margin: 1rem 0 0 0;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

#paratexte {
  display: flex;
  text-align: center;
  font-size: 18px;
}

.texte {
  width: 80%;
}

#separateur {
  width: 80px;
}
